* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-image: url(../images/344291.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}